.hero-logo {
    width: 70vw;
    max-width: 600px;
    min-width: 300px;
    height: auto;
    margin-bottom: 0;
    margin-top: -4rem;
}

.hero-buttons {
    text-align: center !important;
    margin-top: -3rem !important;
}

@media (max-width: 1000px) {
    .hero-logo {
        margin-top: -14rem !important;
    }

    .hero-buttons {
        margin-top: -4rem !important;
    }
}


@media (max-width: 450px) {
    .hero-logo {
        margin-top: -12rem !important;
        margin-left: -0.65rem !important;
    }

    .hero-buttons {
        margin-top: -2rem !important;
        font-size: 70%
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .hero-logo {
        width: 40vw !important;
        max-width: 200px !important;
        min-width: 150px !import ant;
        margin-top: 2rem !important;
        margin-bottom: 1rem !important;
        margin-left: 0 !important;
    }

    .hero-buttons {
        margin-top: -2rem !important;
    }

    .page__title {
        margin-top: 4rem !important;
    }
}





@media (max-width: 800px) {
    .desktop-only {
        display: none !important;
    }
}

@media (min-width: 800px) {
    .mobile-only {
        display: none !important;
    }
}


.bigger {
    font-size: 120% !important;
}

.link-section {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.link-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.link-section-desktop {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.link-section-desktop .link-buttons {
    justify-content: flex-start;
}

.read-more-btn {
    margin-top: 1rem;
}

.expandable-content {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: left;
}

.expandable-content ul {
    list-style-position: inside;
    padding-left: 1rem;
}

.expandable-content li {
    margin-bottom: 1rem;
}
